{% extends "registration/base.html" %}

{% block content %}
    <div class="user_card">
        <h3 id="form-title">LOGIN</h3>
            {% if form.errors %}
            <p class="worning">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p class="worning">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <p class="worning">Please login to see this page.</p>
                    {% endif %}
                {% endif %}
            <div class="form_container">
                <form method="post" action="{% url 'accounts_login' %}">
                {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-envelope"></i></span>
                        </div>
                        <input type="email" name="username" 
                        autofocus autocapitalize="none" autocomplete="username" 
                        maxlength="255" required id="id_username" placeholder="Enter Your Email" 
                        class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                            <input type="password" name="password"
                             autocomplete="current-password" required id="id_password" 
                             placeholder="Enter Your Password" class="form-control">
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Login">
                    </div>
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href=""></a></p>
            </div>
        </div>
{% endblock %}