
{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<div class="wrapper">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <a href="{% url 'accounts_users_list' %}">
          <div class="small-box bg-warning">
            <div class="inner p-2">
              <h3>{{ total_regis }}</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ total_customer }}</h3>

              <p>Total Customer</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ total_admin }}</h3>

              <p>Admin</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-shield"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="fas fa-signal"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6">
          <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">        
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Birthdat</th>
                  <th>Actions</th>
              </tr>
            </thead>
  
            <tbody>
  
                {% if total_regis %}
                  {% for object in total_user %}
                  <tr role="row" class="odd">
                      <td tabindex="0" class="sorting_1">{{ object.id }}</td>
                      <td>{{ object.name }}</td>
                      <td>{{ object.email }}</td>
                      <td>{{ object.date_of_birth|date:"d, M,Y" }}</td>
                      <td>
                          <a href="#"><i class="fa fa-eye text-primary"></i></a>
                          <a href="{% url 'accounts_users_update' object.pk %}"><i class="fa fa-edit text-success"></i></a>
                          <!-- delete confirm modal -->
                          <button style="border: 0px; button:focus{none}" type="button" data-toggle="modal" data-target="#userModal-{{object.pk}}">
                              <i class="fa fa-trash text-danger"></i>
                          </button>
                          
                          
                          <!-- Modal -->
                          <div class="modal fade" id="userModal-{{object.pk}}" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h5 class="modal-title" id="usersModalLabel">Delete Confirmation(#{{ object.email}})</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  </div>
                                  <div class="modal-body">
                                  Are you sure want to delete this?
                                  </div>
                                  <div class="modal-footer">
                                      <form action="{% url 'accounts_users_delete' object.pk %}" method="post">
                                        {% csrf_token %}
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-danger">Delete</button>
                                      </form>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4" class="text-danger">No Data Found!</td>
                </tr>
                {% endif %}
              
            </tbody>
          </table>
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>Title</h5>
    <p>Sidebar content</p>
  </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>
</div>
{% endblock %} 

