*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    color: #000!important;
}
.media-body a{
    padding-left: 15px;
}
.worning{
    background: rgb(92, 2, 2);
    color: #eee;
    padding: 10px 5px;
}
.add_new{
    position: absolute;
    right: 20px;
}
button:focus {
    outline: 0px dotted!important;
    outline: 0px auto -webkit-focus-ring-color!important;
}