{% load static %}
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
	
		<!-- Sidebar -->
		<div class="sidebar">
		  <!-- Sidebar user panel (optional) -->
		  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
			  <img src="{% static '/images/user01.jpg' %}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
			  <a href="#" class="d-block">{{ user.name }}</a>
			</div>
		  </div>
	
		  <!-- Sidebar Menu -->
		  <nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column">
			  <!-- Add icons to the links using the .nav-icon class
				   with font-awesome or any other icon font library -->
			  <li class="nav-item has-treeview menu-open">
				<ul class="nav nav-treeview">
				  
					<li class="nav-item">
						{% url 'accounts_dashboard' as dashboard_url %}
					<a href="{% url 'accounts_dashboard' %}" 
					class="nav-link {% if request.path == dashboard_url %}active{% endif %}">
					<i class="nav-icon fas fa-tachometer-alt"></i>
					  <p>Dashboard</p>
					</a>
				  </li>
					<li class="nav-item">
						{% url 'accounts_users_list' as user_list_url %}
					<a href="{% url 'accounts_users_list' %}" 
					class="nav-link {% if request.path == user_list_url %}active{% endif %}">
					  <i class="fa fa-users nav-icon"></i>
					  <p>Users</p>
					</a>
				  </li>

				  <li class="nav-item">
					<a href="#" class="nav-link">
					  <i class="far fa-circle nav-icon"></i>
					  <p>Inactive Page</p>
					</a>
				  </li>
				</ul>
			  </li>

			  <li class="nav-item">
				<a href="{% url 'accounts_logout' %}" class="nav-link">
				  <i class="nav-icon fas fa-sign-out-alt"></i>
				  <p>
					Logout
				  </p>
				</a>
			  </li>
			</ul>
		  </nav>
		  <!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	  </aside>